.div-style {
    position: fixed;
    background-image: url('../../assets/bgLogin.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  
.loading-div{
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  bottom: 20px
}