.div-style {
    display: flex;
    position: fixed;
    background-image: url('../../assets/bgLogin.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  
  .img-style {
    position: absolute;
    height: 75%;
    left: 10%;
    top: 18%;
  }
  