.movie-img{
    height: 50px;
}

.movie-suggestions{
    overflow: auto;
    max-height: 200px;
    background-color: #ffff;
    color: #252525;
}

.movie-suggestion{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    padding: 5px;
    overflow: hidden;
    overflow-wrap: break-word;
}