.movie-img{
    height: 50px;
}

.movie-search{
    resize: none;
}

.suggestions-visible{
    border-bottom-left-radius:  0;
    border-bottom-right-radius:  0;
}

.movie-suggestions{
    max-height: 200px;
    
    overflow: auto;
    background-color: #efefef;
    color: #252525;
    border-radius: 0px 0px 10px 10px;
}

.movie-suggestion{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    padding: 5px;
    overflow: hidden;
    overflow-wrap: break-word;
}