.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 1% 5% 0 5%;
    gap: 50px;
}

.movie-item {
    margin: 10px;
    width: 160px;
    height: fit;
    border-radius: 15px;
    transition: 0.4s ease-out;
}

.movie-item:hover {
    transform: translateY(5px);
}

.text-div {
    text-align: left;
    margin: 10px;
}

.movie-item img {
    flex: 0 0 auto;
    width: auto;
    height: 40vh;
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.151);
}

.movie-img.watched {
    filter: grayscale(80%);
}

.movie-item p {
    flex: 1;
    word-break: break-all;
}

.movie-alert {
    font-size: 1.2em;
    text-align: left;
}


.checkbox-movie {
    position: absolute;
    margin: 10px;
    color: #d9d9d9;
}


.checkbox-movie[type="checkbox"]:checked::after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    left: 9px;
}
