.note-table{
    width: auto;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 20px;
}

.notes-column{
    padding: 0%;
    width: 80%;
}

.note-tr {
    margin: 0;
    padding: 0;
}

.note-td {
    vertical-align: top;
    padding: 0;
}

.note-table tr td:nth-child(2) {
    width: 300px;
}

.hints {

}