.chat-container{
    padding: 0px 25% 0px 25%;
    display: relative;
    height: 100%;
}

.button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #252525;
    color: #FFFFFF
}

.button:hover{
    background-color: #535353;
}

.delete{
    margin-left: 10px;
    cursor: pointer;
}

.bottom-fixed-items{
    display: flex;
    height: 100%;
}

.loading-icon{
    width: 100%;
    display: flex;
    align-items: center;

}

.title-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.title-div i{
    font-size: 20px;
    cursor: pointer;
}

.title-div i:hover{
    opacity: 0.8;
}