.chat-container{
    padding: 0px 25% 0px 25%;
    display: relative;
    height: 100%;
}

.button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #252525;
    color: #FFFFFF
}

.button:hover{
    background-color: #535353;
}

.delete{
    margin-left: 10px;
    cursor: pointer;
}