.modal-photo .modal-content {
    margin: 0;
    padding: 0;
}

.modal-photo-btns{
    position: absolute;
    top: 0;
}

.modal-photo-img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.modal-photo-desc {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.modal-photo-btns{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.modal-photo-btn{
    background-color: transparent;
    color: #efefef;
    font-size: 1.3em;
    margin: 10px 15px 0px 15px;
    transition: transform 0.3s;
}

.modal-photo-btn:hover{
    transform: scale(1.02);
}