.modal-gallery {
    color: #efefef;
}

.modal-gallery-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

.modal-gallery-btn {
    display: flex;
    margin: 0 auto;
    color: #efefef;
    border: #efefef;
}

.modal-gallery-file,
.modal-gallery-textarea {
    border-radius: 15px;
}

.modal-gallery-textarea{
    resize: none;
}

.modal-gallery-file:focus,
.modal-gallery-textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #b4b4b4;
}