.content {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    gap: 1.5%;
}

.title {
    font-weight: 500;
    margin-left: 10%;
}

.btn-modal {
    background: transparent;
    font-size: 1.5em;
    border: 2px #252525 solid;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
