
.content {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    gap: 1%;
}

.title {
    font-weight: 500;
    margin-left: 5%;
}

.btn-modal {
    background: transparent;
    border-radius: 100px;
}

.btn-plus{
    color: #252525;
    font-size: 2em;
}

.modal-content {
    padding: 4%;
    margin: 3% auto;
    background-color: #e08181;
    border-radius: 50px;
    border: none;
}

