.forms-button {
    background-color: #e08181;
    color: #ffffff;
    font-size: 1.3em;
    width: 250px;
    height: 55px;
    padding: 1.5%;
    margin-top: 25px;
    bottom: 0;
    border-radius: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.forms-button:hover {
    background-color: #bb6a6a;
    color: #ffffff;
}

.forms-button:active {
    background-color: #993939;
    transform: translateY(2px); 
}

.loading-div{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}