.card-style {
    display: flex;
    justify-content: center;
    margin: 5% auto;
    width: 700px;
    height: 70vh;
    background-color: transparent;
    border-radius: 64px;
    border: none;
    padding: 3%;
    text-align: left;
}

.card-title {
    font-size: 3em;
}

.card-p{
    font-size: 1.2em;
}

.input-style {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 50px;
    outline: none;
    background-color: transparent;
    border-radius: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 1px #252525;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.input-style:focus {
    border: solid 1px #252525;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.input-content {
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.input-content:focus {
    box-shadow: none;
    background-color: #d9d9d9;
    outline: none;
}

.input-content::after {
    display: none;
  }

.input-content::-ms-reveal {
    display: none;
}