.form-style {
    background-color: transparent;
    width: 40%;
    height: 100vh;
    background-color: #252525;
    color: #d9d9d9;
    padding: 7%;
    
    border: none;
    text-align: left;
}

.form-title {
    font-size: 3em;
}

.form-p {
    font-size: 1.2em;
}

.form-input{
    background-color: #252525;
    height: 50px;
    margin-top: 50px;
    border-radius: 18px;
    color: #d9d9d9;
}

.form-input:focus{
    box-shadow: none;
    outline: none;
}

.group{
    border: solid 1px #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}

.form-input-content{
    color: #d9d9d9;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 18px;
}

.form-input-content:focus{
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
}

.login-eye{
    height: fit;
}

